#titletop {
    color: red;
}
#container1 {
    display: inline-block;
    width: 100px; /* Example: set a fixed width */
    height: 100px;
    position: ;
}
#container2 {
    display: inline-block;
    width: 100px; /* Example: set a fixed width */
    height: 100px;
    
    

}