#vinodcard {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Centers the div regardless of size */
  background-color: rgb(7, 88, 142);
  text-align: center; /* Center text within the div */
}